/Makefile
/config.log
/config.status
/config.tmp
/*.o
/*.a
/*.so*
/*.pc
/kccachetest
/kcdirmgr
/kcdirtest
/kcforestmgr
/kcforesttest
/kcgrasstest
/kchashmgr
/kchashtest
/kclangctest
/kcpolymgr
/kcpolytest
/kcprototest
/kcstashtest
/kctreemgr
/kctreetest
/kcutilmgr
/kcutiltest
